@import '../../sass/variables';

.rhp-snackbar {
    position: absolute;
    bottom: 24px;
    left: 24px;
    height: 4rem;
    width: 8rem;
    box-shadow: 0 4px 10px rgba(#000, 0.6);

    .error {
        background-color: $color-error;
    }

    .success {
        background-color: $color-success;
    }

    .info {
        background-color: $color-info;
    }

    .warning {
        background-color: $color-warning;
    }
}
